html, body {

    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #b2bec3;
    font-family: "Oxygen", sans-serif;
    scroll-behavior: smooth;

}

body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {

    flex: 1 0 auto;

}

#bio {

    height: 135vh;
    background-image: url(../images/darkwood.png);

}


.parallax-container {

    z-index: 1;

}

#main-landing {

    height: 100vh;

}

#main-landingbg {

    background-image: url(../images/hkrside.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

nav, .nav-wrapper {

    background-color: #82ccdd;
    height: 50px !important;
    line-height: 50px;

}

#jLogo {

    font-style: oblique;
    margin-left: 12px;

}

.typeContain {

    font-family: "Oxygen", sans-serif monospace;
    display: inline-block;

}

.typeWriter h1 {

    display: inline-block;
    color: #273c75;
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    margin: 50px 50px auto;
    letter-spacing: .5em;
    font-family: Courier, monospace;
    font-weight: 700;
    font-size: 22px;
    animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
    animation-duration: 3.5s, 0.5s;
    animation-timing-function: steps(30, end), step-end;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    animation-name: typing, blink-caret;

}

@keyframes typing {

    from {width: 0}
    to {width: 100}

} 

@keyframes blink-caret {

    from, to {border-color: transparent}
    50% {border-color: #273c75}

}

#biolax {

    padding-top: 15px;

}

#biolaxHead, #portHead, #contactHead {

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: oblique;
    color: #273c75;

}

#contactHead {

    color: #f7f1e3 !important;

}

#biolaxHead {

    color: #a4b0be;

}

#portSect {

    padding-top: 20px;

}

.parallax-container {

    max-height: 25vh;
    border: 3px solid #2f3542;
    margin-bottom: 8px;

}

#bio-pic {

    display: flex;
    flex-direction: row;
    max-width: 20%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30%;
    border: 2.5px solid #F8EFBA;
    box-shadow: 5px 10px 8px #f5f6fa;

}

#bio-Desc {

    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #a4b0be;
    font-size: 15px;
    padding-top: 10px;
    
}

#portfolio {

    background-image: url(../images/frame4.png);
    background-size: cover;
    
}

#cardSect {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;

}

.card {

    max-width: 100%;
    border: 2px solid;
    
}

.card a {

    margin: 5px;
    color:  #535c68;
    
}

.card-content {

    background-color: #f7f1e3;
    max-height: 50% !important;

}

#cardTitle, #cardDesc {

    color: #535c68;

} 

#cardButt {

    background-color: #c7ecee;

}

#cardButt > i {

    vertical-align: middle;
    color: #535c68;

}

#contact {

    background-image: url(../images/night.png);
    background-size: cover;
    height: 90vh;

}

#contactSect {

    padding-top: 20px; 
    
}

#iCons {

    text-align: center;
    padding-top: 20px;

}

#emailIcon, #githubIcon, #linkedinIcon {

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

#emailIcon {

    color: #55efc4;
    
}

#githubIcon {

    color: #2f3542;

}

#linkedIcon {

    color: #3742fa;

}

.page-footer {

    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px;
    height: 50px;
    vertical-align: middle;
    font-family: "Oxygen", sans-serif;
    font-style: oblique;
    background-color: #82ccdd !important;

}



/* media queries */

/* iphone & mobile */

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 

    #bio {

        height: 135vh;

    }

    #bio-pic {

        max-width: 95%;
        margin-left: 6px;
    
    }

    #bio-Desc h3 {

        font-size: 30px;

    } 

    .typeWriter h1 {

        white-space: normal;
        letter-spacing: .1em;
        font-size: 27px;

    }

    #iCons {

        padding-top: 100px;

    }

}

/* iPads & tablets */

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {

    #bio-pic {

        margin: 0 auto;
        max-width:  50%;
        margin-top: 20px;

    }

    #bio {

        height: 115vh;

    }

    #bio-Desc {

        padding-top: 30px;

    }

    .typeWriter h1 {

        font-size: 30px;
        letter-spacing: .4em;
        white-space: normal;

    }

    #iCons {

        padding-top: 125px;
        font-size: 20px;

    }

    #contactSect {

        padding-top: 30px;

    }

}

/* iPad Pro 12.9 */

@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {

    .typeWriter h1 {

        font-size: 30px;
        margin: 100px 50px auto;
        /* font-family: "Oxygen" monospace; */

    }

    #bio {

        height: 90vh;

    }

    #bio-pic {

        max-width: 30%;

    }

    #iCons {

        padding-top: 120px;
        font-size: 20px;

    }

}

/* Retina Laptops */

@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) { 

    #bio {

        height: 110vh;

    }

    .typeWriter h1 {

        font-size: 26px;
        letter-spacing: .4em;

    }

    #contactSect {

        padding-top: 20px;

    }
    
}