body {

    margin: 0 auto;
    padding: 0;
    height: 100vh;
    background-color: #b2bec3;

}

#particles-js {

    height: 100%;
    width: 100%;
    background: #353b48;
    background-repeat: no-repeat;
    background-size: cover;
    

}

#main-landing, #bio, #skills, #portfolio, #contact {

    height: 100vh;

}

#main-landbg {

    background-image: cover;

}

#mainland-butt {

    position: absolute;
    padding-left: 600px;
    /* padding-top: 550px; */

}

.nav-wrapper {

    background-color: #3dc1d3;

}

#bio {

    padding-top: 13px;

}

#biolax {

    height: 30vh;

}


#bio-pic {

    display: flex;
    flex-direction: row;
    float: left;
    max-width: 30%;
    height: auto;
    padding-top: 13px;
    border-radius: 30%;
    margin-left: 30px;
    margin-right: 30px;

}

#bio-Desc {

    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-size: 15px;
    padding-top: 10px;
    
}

#cardSect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;

}

#cardLG {

    max-width: 100%;

}

